language: objective-c
before_install:
- gem install cocoapods
- sudo easy_install cpp-coveralls
- brew update
- brew upgrade xctool
before_script:
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/profile/Lootr_Development.mobileprovision.enc
  -d -a -out scripts/profile/Lootr_Development.mobileprovision
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/dist.cer.enc -d -a
  -out scripts/certs/dist.cer
- openssl aes-256-cbc -k "$ENCRYPTION_SECRET" -in scripts/certs/dist.p12.enc -d -a
  -out scripts/certs/dist.p12
- ./scripts/add-key.sh
- ./scripts/update-bundle.sh
script:
- xctool test -workspace lootr.xcworkspace -scheme lootrTests -sdk iphonesimulator
  ONLY_ACTIVE_ARCH=NO
- xctool -workspace lootr.xcworkspace -scheme lootr -sdk iphoneos -configuration Release
  OBJROOT=$PWD/build SYMROOT=$PWD/build ONLY_ACTIVE_ARCH=NO
after_script:
- ./scripts/remove-key.sh
after_failure:
- ./scripts/remove-key.sh
after_success:
- ruby coveralls.rb -h -e Pods -e lootrTests -t $COV_TOKEN
- ./scripts/sign-and-upload.sh
env:
  global:
  - INFO_PLIST="lootr/lootr-Info.plist"
  - secure: eg5YfnHwJ+V+7O/QfjLVIQbNCc25CXMw8n1yeOWNcrW5OewLI9ocpNdCTLz7hbUlSnWPwCeCx/KEPqWlyfUkst6fYw8GupNQ6ngyA755c/JuxYgqMzltkQEGXaRvUOANZRvaf+490sQSqbfJ+2ul9s3ctrKy4TUN3b9JPgwXghQ=
  - secure: Onv9xltKpobDIsJKGaS4bfKZLummLsH40T+QpyjW/J0IMyxhSuVO0qI7hLAIwGVshiZeEbKrTJICvPj/IKn84cFth540hefjWkxyLnisNvrSnzijlGkP9Ki/rfdyxUlVzEgaSOOV3w+l9Bhanlf8w4Y+J81+x7zcF37mF8fYDy4=
  - APP_NAME="lootr"
  - 'DEVELOPER_NAME="iPhone Developer: Fabio Pigagnelli (JK5237J63G)"'
  - PROFILE_NAME="Lootr_Development"
  - secure: W2oycmFHEEKNKiImMTJpCDn2r9M8mXF7v8YkkxfTwm1XSFyLFoNuxLDhUafCjkO1nMe0pnDLaeiTmqQFi+BgF4aeSRzqYMVm+Rwt8z8iBWZ+cAjqTbqNIz/gl1ETljvIxZQbCHCJyfPq2kD8tB83oEXfEdrvnyKPlZiv/A4KT4U=
  - secure: cnhbczSTTC9jwGF4616Okv87hFRxxCN9ZmhNFRdpWD0yj9Mn5blyt3GauZ12RqtjUmTEW+F0Mw9jSQvd+fkd0VK2zwRBP981XfBCmewM9h8k9Q7BTAxFAF7isMewDCV5i+r8zYh9kY+H/1bbtw7I/VOYPpdxrzOd0oEdap2YRZY=
  - secure: Vx4pla2T1/MLNiGMu0ENKDNRTGflNfkkMXQXyMFudyIQ0+lP0ouTpJWEmTb+XeTdJesbfz3Zbm7GCmSn3FqF+Qb++YBjjmynK2hMdG9bVSAl6BxOjwBdNI+185vUu35ZksEj4rz/Db1rozAS6EQbXlcEhaOrhs55TykNGIioRlI=
